; vi:syntax=ini
; See https://coverage.readthedocs.io/en/coverage-4.0.3/config.html

[run]
data_file = .coverage
source =
    hangman

; debug = config
; branch = False
; include =
;    hangman/
; omit =
;     tests/

[report]
fail_under = 80
show_missing = True

; exclude_lines =
;     (?i)#\s*pragma[:\s]?\s*no\s*cover
; include_errors = False
; include =
;     hangman/
; omit =
;     tests/
; skip_covered = False

[html]
directory = .htmlcov
title = Hangman Coverage Report
