# Config file for automatic testing at travis-ci.org
# This file will be regenerated if you run travis_pypi_setup.py

language: python

python:
  - "3.5"

# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install:
  - pip install tox
  - pip install coveralls

env:
  - TOXENV=py26
  - TOXENV=py27
  - TOXENV=py32
  - TOXENV=py33
  - TOXENV=py34
  - TOXENV=py35
  - TOXENV=pypy

# command to run tests, e.g. python setup.py test
script:
  - tox -e $TOXENV
  - coverage run --source=hangman setup.py test

after_success:
  - coveralls

# After you create the Github repo and add it to Travis, run the
# travis_pypi_setup.py script to finish PyPI deployment setup
deploy:
  provider: pypi
  distributions: sdist bdist_wheel
  user: bionikspoon
  password:
    secure: PLEASE_REPLACE_ME
  on:
    tags: true
    repo: bionikspoon/hangman
    condition: $TOXENV == py27
